/* Mobile-first styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
   /* margin: 0;
    padding: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    max-width: 100%;
    overflow: hidden;
  
}

main {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    
   
}

header h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
    text-align: center;
    margin-bottom: 5px;
    color: #2d39e0;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inputs label,
.options label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 4px;
}

.inputs input {
    width: 100%;
    padding: 8px;
    font-size: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.options label {
    font-size: 1.4rem;
    color: #333;
}
.button{
    
    display: flex;
    gap: 4px;
}

button#calcular {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#calcular:hover {
    background-color: #0056b3;
}
button#borrar {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #e72525;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button#borrar:hover {
    background-color: #c50000;
}



/* Ajustes para el área de reporte */
.report {
    flex: 1;
    min-height: 45vh; /* Ocupa al menos el 45% del alto de la pantalla */
    padding: 5px;
    overflow-y: auto; /* Permite desplazarse si hay muchos resultados */
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
}

.report h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
    color: #717905;
}

.report ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.6;
}

.report ul li {
    background: #fff;
    color: #333;
    margin-bottom: 2px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.reportContainer{
    display: flex;
    gap: 4px;
}

.salario{
    color: #db8009;
    
}
.saldo{
    color: rgb(53, 102, 5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
